# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex output files
*.bbl
*.aux
report/*.dvi
report/*.log
report/*.blg
report/*.fdb_latexmk
report/*.fls

# Bernhard's data acquisition code
/bernhard/build

# Datasets
/data
/data2
/sfm_data.zip

# vlfeat
/lib

# CMake targets
build/

